<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    
    <arg name="hardware_version" default="ned"/>
    <arg name="simulation_mode" default="false" />

    <!-- By default, we do not start a database (it can be large) -->
    <arg name="db" default="false"/>
    <!-- Allow user to specify database location -->
    <arg name="db_path" default="$(find niryo_moveit_config_standalone)/default_warehouse_mongo_db"/>

    <!-- By default, we are not in debug mode -->
    <arg name="debug" default="false"/>

    <!-- If needed, broadcast static tf for robot root -->


    <!-- We do not have a robot connected, so publish fake joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="/use_gui" value="false"/>
        <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
    </node>

    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"
          output="screen">
    </node>

    <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find niryo_moveit_config_standalone)/launch/move_group.launch">
        <arg name="load_robot_description" value="true"/>
        <arg name="hardware_version" value="$(arg hardware_version)"/>
        <arg name="simulation_mode" value="$(arg simulation_mode)" />
        <arg name="debug" value="$(arg debug)"/>
        <arg name="info" value="true"/>
        <arg name="allow_trajectory_execution" value="true"/>
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find niryo_moveit_config_standalone)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- If database loading was enabled, start mongodb as well -->
    <include file="$(find niryo_moveit_config_standalone)/launch/default_warehouse_db.launch" if="$(arg db)">
        <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
    </include>

</launch>
