<launch>
    <arg name="simulation_mode" default="false"/>
    <arg name="simu_gripper" default="false"/>

    <node name="niryo_robot_tools_commander" pkg="niryo_robot_tools_commander" type="tool_commander_node.py" output="screen"
          respawn="false">
        <param name="simulation_mode" type="bool" value="$(arg simulation_mode)"/>
         <param name="simu_gripper" type="bool" value="$(arg simu_gripper)"/>
        <rosparam file="$(find niryo_robot_tools_commander)/config/end_effectors.yaml"/>
    </node>

</launch>