<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    
    <!-- set to true if you want to launch ROS on your computer 
        - controller will just echo position command
        - all hardware relative stuff is deactivated            -->
    <arg name="gazebo" default="false"/>
    <arg name="debug" default="false"/>
    <!-- set to true to disable hardware communication for CAN bus (Niryo Steppers)
     or DXl bus (DEBUG PURPOSES) -->
    <arg name="can_enabled" default="true"/>
    <arg name="ttl_enabled" default="true"/>
    <arg name="hardware_version" default="ned"/>

    <!-- Load controller settings -->
    <group unless="$(arg gazebo)">
        <rosparam file="$(find niryo_moveit_config_standalone)/config/$(arg hardware_version)/ros_controllers.yaml" command="load"/>

        <!-- spawn controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="log"
              args="joint_state_controller niryo_robot_follow_joint_trajectory_controller"/>
    </group>

    <group if="$(arg gazebo)">
        <rosparam file="$(find niryo_moveit_config_w_gripper1)/config/$(arg hardware_version)/ros_controllers.yaml" command="load"/>

        <!-- spawn controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="log"
              args="niryo_robot_follow_joint_trajectory_controller gazebo_tool_commander"/>
    </group>

    <!-- robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
    
</launch>
