<launch>

    <!-- set to true if you want to launch ROS on your computer 
        - controller will just echo position command
        - all hardware relative stuff is deactivated            -->
    <arg name="simulation_mode" default="false"/>
    <arg name="gazebo" default="false"/>
    <arg name="simu_gripper" default="false"/>
    <arg name="hardware_version" value="ned"/>
    <arg name="debug" default="false"/>
    <!-- set to true to disable hardware communication for CAN bus (Niryo Steppers)
     or DXl bus (DEBUG PURPOSES) -->
    <arg name="can_enabled" default="true"/>
    <arg name="dxl_enabled" default="true"/>


    <!-- Load controller settings -->

    <group unless="$(arg simu_gripper)">
        <rosparam file="$(find niryo_ned_moveit_config_standalone)/config/ros_controllers.yaml" command="load"/>

        <!-- spawn controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="log"
              args="joint_state_controller niryo_robot_follow_joint_trajectory_controller"/>
    </group>

    <group if="$(arg simu_gripper)">
        <rosparam file="$(find niryo_ned_moveit_config_w_gripper1)/config/ros_controllers.yaml" command="load"/>

        <!-- spawn controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="log"
              args="niryo_robot_follow_joint_trajectory_controller gazebo_tool_commander"/>
    </group>

    <!-- robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    </node>

    <include file="$(find niryo_robot_hardware_interface)/launch/niryo_robot_hardware_interface.launch">
        <arg name="simulation_mode" value="$(arg simulation_mode)"/>
        <arg name="simu_gripper" value="$(arg simu_gripper)"/>
        <arg name="gazebo" value="$(arg gazebo)"/>
        <arg name="can_enabled" value="$(arg can_enabled)"/>
        <arg name="dxl_enabled" value="$(arg dxl_enabled)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

</launch>
