<launch>
  <arg name="world_name" default="niryo_cube_world"/>
  <arg name="debug" default="false"/>

    <!-- Launch World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find niryo_robot_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
