*.pyc
*.swp
urdf.rviz
node_modules/
/CMakeLists.txt
tmp_blockly/
tmp_code_to_execute/
.vscode
*.egg-info
*__pycache__
.idea/*
venv

.pytest_cache/

/dev/

# Mac Stuff
.DS_Store

# Build files
_build/
*.mo
