<launch>
    <!-- Arguments definition -->
    <arg name="hardware_version" default="ned2"/>

    <node if="$(eval hardware_version =='ned2')" pkg="niryo_robot_led_ring" type="led_ring_node.py"
          name="niryo_robot_led_ring" output="screen" launch-prefix="sudo">
        <param name="simulation_mode" type="bool" value="False"/>
        <rosparam command="load" file="$(find niryo_robot_led_ring)/config/led_control_library/led_strip_params.yaml"/>
        <rosparam command="load" file="$(find niryo_robot_led_ring)/config/led_ring_params.yaml"/>
    </node>

    <node if="$(eval hardware_version =='fake')" pkg="niryo_robot_led_ring" type="led_ring_node.py"
          name="niryo_robot_led_ring" output="screen">
        <param name="simulation_mode" type="bool" value="True"/>
        <rosparam command="load" file="$(find niryo_robot_led_ring)/config/led_control_library/led_strip_params.yaml"/>
        <rosparam command="load" file="$(find niryo_robot_led_ring)/config/led_ring_params.yaml"/>
    </node>

</launch>
