<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    <!-- Arguments -->
    <arg name="log_level" default="INFO" />

    <include file="$(find niryo_robot_user_interface)/launch/user_interface_base.launch.xml"/>
    
    <!--  Launch Main node  -->
    <node name="niryo_robot_user_interface" pkg="niryo_robot_user_interface" type="user_interface_node.py" output="screen" >
        <param name="log_level" type="string" value="$(arg log_level)" />
    </node>

</launch>
