<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    <arg name="hardware_version" default="ned2" />
    <arg name="simulation_mode" default="true"/>

    <!-- use ttl_driver config -->
    <include file="$(find ttl_driver)/launch/ttl_driver_base.launch.xml" >
        <arg name="hardware_version" value="$(arg hardware_version)"/>
        <arg name="simulation_mode" value="$(arg simulation_mode)"/>
    </include>

    <!-- use end_effector_interface config -->
    <include file="$(find end_effector_interface)/launch/end_effector_interface_base.launch.xml" >
        <arg name="hardware_version" value="$(arg hardware_version)"/>
        <arg name="simulation_mode" value="$(arg simulation_mode)"/>
    </include>

    <node pkg="end_effector_interface" type="end_effector_interface_node" name="end_effector_interface" output="screen" />

</launch>
