<launch>
  <arg name="hardware_version" value="ned"/>

  <node pkg="ttl_driver" type="ttl_driver_test" name="ttl_driver" output="screen">  
    <rosparam file="$(find ttl_driver)/config/$(arg hardware_version)/dxl_bus_config.yaml" command="load"/>
    <rosparam file="$(find ttl_driver)/config/motors_config.yaml" command="load"/>
    <rosparam file="$(find ttl_driver)/config/default.yaml" command="load"/>
  </node>
</launch>
