<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    <!-- Arguments -->
    <arg name="hardware_version" default="ned"/>
    <arg name="simu_gripper" default="false"/>
    <arg name="gazebo" default="false"/>
    
    <include file="$(find fake_interface)/launch/fake_interface_base.launch.xml" >
        <arg name="hardware_version" value="$(arg hardware_version)" />
    </include>
    
    <node pkg="fake_interface" type="fake_interface_node" name="fake_interface" output="screen" />
</launch>
