<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">

    <group ns="niryo_robot_hardware_interface" >
        <node pkg="can_driver" type="can_driver_node" name="can_driver" output="screen">
            <rosparam file="$(find can_driver)/config/can_bus.yaml" command="load"/>
            <rosparam file="$(find can_driver)/config/motors_config.yaml" command="load"/>
            <rosparam file="$(find can_driver)/config/default.yaml" command="load"/>  
        </node>  
    </group>
</launch>
