<launch>

  <node pkg="can_driver" type="can_driver_node" name="can_driver" output="screen">  
    <rosparam file="$(find can_driver)/config/can_bus.yaml" command="load"/>
    <rosparam file="$(find can_driver)/config/motors_config.yaml" command="load"/>
    <rosparam file="$(find can_driver)/config/default.yaml" command="load"/>
  </node>
</launch>
