<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    <!-- Arguments -->
    <arg name="log_level" default="INFO" />
    <arg name="hardware_version" default="ned"/>
    <arg name="simulation_mode" default="false" />

    <arg name="saved_files_dir" value="$(env HOME)/.niryo/simulation" if="$(arg simulation_mode)"/>
    <arg name="saved_files_dir" value="$(env HOME)/niryo_robot_saved_files" unless="$(arg simulation_mode)"/>

    <include file="$(find niryo_robot_poses_handlers)/launch/poses_handlers_base.launch.xml"> 
        <arg name="simulation_mode" value="$(arg simulation_mode)" />
    </include>

    <node name="niryo_robot_poses_handlers" pkg="niryo_robot_poses_handlers" type="poses_handlers_node.py" output="screen">
        <param name="log_level" type="string" value="$(arg log_level)" />
        <param name="grip_dir" type="string" value="$(find niryo_robot_poses_handlers)/grips/$(arg hardware_version)/"/>
        <param name="workspace_dir" type="string"  value="$(arg saved_files_dir)/niryo_robot_workspaces/"  />
        <param name="poses_dir" type="string"  value="$(arg saved_files_dir)/niryo_robot_poses/"/>
        <param name="trajectories_dir" type="string"  value="$(arg saved_files_dir)/niryo_robot_trajectories/"/>
        <param name="dynamic_frame_dir" type="string"  value="$(arg saved_files_dir)/niryo_robot_dynamic_frame/"/>
    </node>

</launch>
