<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    <!-- Arguments -->
    <arg name="log_level" default="INFO" />
    <arg name="hardware_version" default="ned"/>

    <arg name="saved_files_dir" value="$(env HOME)/.niryo/simulation" if="$(eval hardware_version =='fake_ned' or hardware_version == 'fake_ned2')"/>
    <arg name="saved_files_dir" value="$(env HOME)/niryo_robot_saved_files" unless="$(eval hardware_version =='fake_ned' or hardware_version == 'fake_ned2')"/>

    <node name="niryo_robot_poses_handlers" pkg="niryo_robot_poses_handlers" type="poses_handlers_node.py" output="screen">
        <param name="log_level" type="string" value="$(arg log_level)" />
        <rosparam file="$(find niryo_robot_poses_handlers)/config/gazebo_workspaces.yaml" command="load"
                  if="$(eval hardware_version =='fake_ned' or hardware_version == 'fake_ned2')"/>

        <param name="grip_dir" type="string" value="$(find niryo_robot_poses_handlers)/grips/$(arg hardware_version)/"/>
        <param name="workspace_dir" type="string"  value="$(arg saved_files_dir)/niryo_robot_workspaces/"  />
        <param name="poses_dir" type="string"  value="$(arg saved_files_dir)/niryo_robot_poses/"/>
        <param name="trajectories_dir" type="string"  value="$(arg saved_files_dir)/niryo_robot_trajectories/"/>
    </node>
</launch>
