<launch>
    <arg name="credentials_path" default="~/.config/niryo"/>

    <node name="niryo_robot_credentials" pkg="niryo_robot_credentials" type="credentials_node.py" output="screen">
        <param name="serial_number_file_path" value="$(arg credentials_path)/serial_number_do_not_touch"/>
        <param name="api_key_file_path" value="$(arg credentials_path)/api_key_do_not_touch"/>
    </node>
</launch>
