<launch>
    <arg name="hardware_version" value="ned"/>
    <arg name="simu_gripper"/>

    <!-- Command validation params -->
    <group ns="niryo_robot/robot_command_validation">
        <rosparam file="$(find niryo_robot_arm_commander)/config/$(arg hardware_version)/robot_command_validation.yaml"/>
    </group>

    <!-- Override MoveIt default logging from INFO to WARn -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find niryo_robot_arm_commander)/config/rosconsole.config"/>

    <!-- Moveit move_group -->
    <group if="$(eval hardware_version == 'ned')">
        <include file="$(find niryo_ned_moveit_config_w_gripper1)/launch/move_group.launch" if="$(arg simu_gripper)">
            <arg name="load_robot_description" value="false"/>
        </include>
        <include file="$(find niryo_ned_moveit_config_standalone)/launch/move_group.launch" unless="$(arg simu_gripper)"/>
    </group>
    <!-- Moveit move_group params -->
    <group ns="/move_group">
        <!-- Disable Moveit! controller timeout -->
        <param name="trajectory_execution/execution_duration_monitoring" value="false"/>

        <param name="trajectory_execution/allowed_start_tolerance" value="0.0"/>

        <!-- Allows joints to be outside of min and max values when starting -->
        <param name="start_state_max_bounds_error" value="0.1"/>
    </group>

    <!-- Launch Arm commander node -->
    <node name="niryo_robot_arm_commander" pkg="niryo_robot_arm_commander" type="robot_commander_node.py" output="screen"
          respawn="false">
        <rosparam command="load" file="$(find niryo_robot_arm_commander)/config/commander_params.yaml"/>
        <rosparam command="load" file="$(find niryo_robot_arm_commander)/config/jog_params.yaml"/>
        <param name="simu_gripper" type="bool" value="$(arg simu_gripper)"/>
    </node>
</launch>
