<?xml version="1.0" ?>
<!-- This launch file allows to run simulation on Rviz
-->
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    <env name="ROSCONSOLE_CONFIG_FILE"
        value="$(find niryo_robot_bringup)/config/desktop_rviz_simulation_trace.conf" />
    <!-- Arguments definition -->
    <arg name="log_level" default="INFO" />

    <arg name="gui" default="true"/>
    <arg name="hardware_version" default="ned"/>

    <!-- Load URDF -->
    <arg name="urdf_path" value="urdf/$(arg hardware_version)/niryo.urdf.xacro"/>

    <param name="robot_description"
           command="$(find xacro)/xacro $(find niryo_robot_description)/$(arg urdf_path)"/>

    <param name="robot_description_tf2"
           command="$(find xacro)/xacro $(find niryo_robot_description)/$(arg urdf_path)"/>

    <!-- Define most of ROS parameters -->
    <include file="$(find niryo_robot_bringup)/launch/niryo_robot_base_simulation.launch.xml">
        <arg name="log_level" value="$(arg log_level)" />
        <arg name="simu_gripper" value="false"/>
        <arg name="gazebo" value="false"/>
        <arg name="hardware_version" value="$(arg hardware_version)"/>
    </include>

    <group if="$(arg gui)">
        <!-- Launching Rviz -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find niryo_robot_description)/config/default_config.rviz" />
    </group>

    <group ns="niryo_robot">
        <group ns="info">
            <param name="/niryo_robot_vision/initialized" type="bool" value="true"/>
        </group>
    </group>
</launch>
