<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    <arg name="hardware_version" default="ned"/>
    <arg name="simulation_mode" default="false" />

    <!-- Command validation params -->
    <group ns="niryo_robot">
        <group ns="robot_command_validation">
            <rosparam file="$(find niryo_robot_arm_commander)/config/$(arg hardware_version)/robot_command_validation.yaml"/>
        </group>
    </group>

    <!-- Moveit move_group -->
    <group if="$(eval hardware_version == 'ned' or hardware_version == 'ned2')">
        <include file="$(find niryo_moveit_config_standalone)/launch/move_group.launch">
            <arg name="hardware_version" value="$(arg hardware_version)" />
            <arg name="simulation_mode" value="$(arg simulation_mode)" />
        </include>
    </group>
    
    <!-- Moveit move_group params -->
    <group ns="move_group">
        <!-- Disable Moveit! controller timeout -->
        <param name="trajectory_execution/execution_duration_monitoring" value="false"/>

        <param name="trajectory_execution/allowed_start_tolerance" value="0.0"/>

        <!-- Allows joints to be outside of min and max values when starting -->
        <param name="start_state_max_bounds_error" value="0.1"/>
    </group>

</launch>
