<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    <!-- Arguments definition -->
    <arg name="log_level" default="INFO"/>
    <arg name="ttl_enabled" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="timed" default="true"/>
    <arg name="database" default="true"/>
    <arg name="program_player_enabled" default="true"/>

    <group if="$(arg timed)">
        <node pkg="niryo_robot_bringup" type="timed_launch.sh"
              args="0 niryo_robot_bringup niryo_robot_sound_and_light.launch.xml
                  hardware_version:='ned3pro'
                  simulation_mode:=false"
              name="sound_and_light_launch" output="screen"/>

        <node pkg="niryo_robot_bringup" type="timed_launch.sh"
              args="2 niryo_robot_bringup niryo_robot.launch
                  hardware_version:='ned3pro'
                  simulation_mode:=false
                  log_level:=$(arg log_level)
                  ttl_enabled:=$(arg ttl_enabled)
                  can_enabled:=false
                  database:=$(arg database)
                  debug:=$(arg debug)
                  program_player_enabled:=$(arg program_player_enabled)"
              name="robot_launch" output="screen"/>
    </group>

    <group unless="$(arg timed)">
        <include file="$(find niryo_robot_bringup)/launch/niryo_robot.launch">
            <arg name="hardware_version" value="ned3pro"/>
            <arg name="simulation_mode" value="false"/>
            <arg name="log_level" value="$(arg log_level)"/>
            <arg name="ttl_enabled" value="$(arg ttl_enabled)"/>
            <arg name="can_enabled" value="false"/>
            <arg name="debug" value="$(arg debug)"/>
            <arg name="database" default="$(arg database)"/>
            <arg name="program_player_enabled" value="$(arg program_player_enabled)"/>
        </include>

        <include file="$(find niryo_robot_bringup)/launch/niryo_robot_sound_and_light.launch.xml">
            <arg name="hardware_version" value="ned3pro"/>
            <arg name="simulation_mode" value="false"/>
            <arg name="log_level" value="$(arg log_level)"/>
        </include>
    </group>

</launch>
 