<?xml version="1.0" ?>
<launch xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">
    
    <arg name="hardware_version" default="ned"/>
    <arg name="simulation_mode" default="false" />

    <!-- By default, we do not start a database (it can be large) -->
    <arg name="db" default="false"/>
    <!-- Allow user to specify database location -->
    <arg name="db_path" default="$(find niryo_moveit_config_w_gripper1)/default_warehouse_mongo_db"/>

    <!-- By default, we are not in debug mode -->
    <arg name="debug" default="false"/>

    <!--
    By default, hide joint_state_publisher's GUI

    MoveIt!'s "demo" mode replaces the real robot driver with the joint_state_publisher.
    The latter one maintains and publishes the current joint configuration of the simulated robot.
    It also provides a GUI to move the simulated robot around "manually".
    This corresponds to moving around the real robot without the use of MoveIt.
    -->
    <arg name="use_gui" default="false"/>

    <!-- Gazebo specific options -->
    <arg name="gazebo_gui" default="true"/>
    <arg name="paused" default="false"/>
    <!-- By default, use the urdf location provided from the package -->
    <arg name="urdf_path" default="$(find niryo_robot_description)/urdf/$(arg hardware_version)/niryo_$(arg hardware_version)_gripper1_n_camera.urdf.xacro"/>

    <!-- launch the gazebo simulator and spawn the robot -->
    <include file="$(find niryo_moveit_config_w_gripper1)/launch/gazebo.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="urdf_path" value="$(arg urdf_path)"/>
    </include>

    <!-- If needed, broadcast static tf for robot root -->


    <!-- We do not have a robot connected, so publish fake joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg use_gui)"/>
        <rosparam param="source_list">[/joint_states]</rosparam>

    </node>

    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"
          output="screen">
    </node>

    <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find niryo_moveit_config_w_gripper1)/launch/move_group.launch">
        <arg name="load_robot_description" value="false"/>
        <arg name="hardware_version" value="$(arg hardware_version)" />
        <arg name="simulation_mode" value="$(arg simulation_mode)" />
        <arg name="debug" value="$(arg debug)"/>
        <arg name="info" value="true"/>
        <arg name="allow_trajectory_execution" value="true"/>
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find niryo_moveit_config_w_gripper1)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- If database loading was enabled, start mongodb as well -->
    <include file="$(find niryo_moveit_config_w_gripper1)/launch/default_warehouse_db.launch" if="$(arg db)">
        <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
    </include>

</launch>
