<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="urdf_path" default="$(find niryo_robot_description)/urdf/ned/niryo_ned_gripper1_n_camera.urdf.xacro"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
<!--  <param name="robot_description" textfile="$(arg urdf_path)" />-->
  <param name="robot_description" command="xacro '$(arg urdf_path)'"/>

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model niryo_ned -x 0 -y 0 -z 0"
    respawn="false" output="screen" />

  <include file="$(find niryo_ned_moveit_config_w_gripper1)/launch/ros_controllers.launch"/>

</launch>
