<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find niryo_ned_moveit_config_w_gripper1)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="log" args="niryo_robot_follow_joint_trajectory_controller gazebo_tool_commander "/>

</launch>
